{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">
            <div class="page-heading">About</div>
            <div style="display: flex; align-items: flex-start;">
                <div>
                    {{ .Content }}
                </div>
                <div>
                    <img src="{{ .Params.profile_img }} ">
                </div>
            </div>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}

<script>
 function setAge() {
   document.getElementById("age").innerHTML = ((new Date() - new Date(1988,4,1)) / (1000*60*60*24)).toPrecision(10);
   setTimeout(setAge, 864) // one day is 86400000 miliseconds
 }
 document.addEventListener('DOMContentLoaded', function() {
   setAge();
 });
</script>

