{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">
            <div class="posts">
                <div class="page-heading">Projects</div>
                <ul>
                    {{ range .Params.project_categories }}
                    <li class="groupby">{{ .category }}</li>
                    {{ range .projects }}
                    {{ partial "project_li.html" . }}
                    {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}
